!!!html
%html
  %head
    %title Dee Jay Nine
    %link{:href => 'screen.less', :media => 'screen', rel: 'stylesheet/less', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'scripts/less-1.1.3.min.js'}
    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    %script{:type => 'text/javascript', :src => 'scripts/player.js'}
  
    -# iPad, iPhone and other viewport-aware mobile devices
    %meta{:name => 'viewport', :content => 'user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0'}
    :javascript
      // some global variables for the player progress bar
      var current_state = '#{@state}';
      var current_pos = #{@pos};
      var current_duration = #{@duration};   
  %body
  
    %div#page.container
      
      %div#controls
        - if @state == :run || !@current.nil?
          %a#ctrlPause{:href => '/pause'} PAUSE      
        - else
          %a#ctrlPlay{:href => '/run'} PLAY    
        
        %div#progress
          
        %a#ctrlSkip{:href => '/next'} SKIP     
        %a#ctrlNext{:href => '/advance'} NEXT DJ
        
      - @seq.each do |dj|
          
        -# Display the DJ 
        - name = dj.name.split(' ').first.split("’s").first.upcase
        - name = 'NATHAN' if name == 'LIBRARY'        
        - color = OpenSSL::Digest::MD5.hexdigest(name)[0..5]   
        - rgb =  color.scan(/.{2}/).map { |v| v.hex }
        - darkcolor = rgb.map { |v| "%02x" % [(v * 0.75), 255].min }.join
        - textcolor = darkcolor

        - style = "background: ##{color}; border-right: 1px solid ##{darkcolor}; border-top: 10px solid ##{darkcolor};"        
        //%div.dj{:style => style} --commented this out
        %div.dj
          %span= name
          %time= dj.time
        
        - # Display the DJ track
        %div.tracks
          %div.trackWrap
            - dj.tracks.each do |track|
            
              - name = track.name
    
              -# color = rgb.map { |v| "%02x" % [(v * (1 - rand/5)), 255].min }.join
              - style = "background: ##{color}; border-right: 1px solid ##{darkcolor}; border-top: 10px solid ##{darkcolor}; color: ##{textcolor};"
              %div.track{:class => track.id == @current_id ? 'playing' : '', :title => "#{name} -of- #{track.album} -by- #{track.artist}"}
                %img.artwork{:src => track.artwork_path, :height => 200, :width => 200}
                %div.trackMeta
                  %h2.trackName= name
                  %h3.trackArtist= track.artist
                  %h4.trackAlbum= track.album
