!!!html
%html
  %head
    %title Dee Jay Nine
    %link{:href => '/reset.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/dj9.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
  
  %body
  
    %div#page.container              
      
      %div.controls
        %p Welcome
        %span DJ9*
      %div.controls
        - if @state == :run || !@current.nil?
          %a{:href => '/pause'} &quot; PAUSE      
        - else
          %a{:href => '/run'} &gt; RUN      
          
        %a{:href => '/next'} &rarr; next      
        %a{:href => '/advance'} &rArr; advance
      
      - @seq.each do |dj|
          
        -# Display the DJ
        - name = dj.name.split(' ').first.split("’s").first.upcase
        - name = 'STEVE9' if name == 'LIBRARY'        
        - color = OpenSSL::Digest::MD5.hexdigest(name)[0..5]   
        - rgb =  color.scan(/.{2}/).map { |v| v.hex }
        - darkcolor = rgb.map { |v| "%02x" % [(v * 0.75), 255].min }.join
        - textcolor = darkcolor
        - style = "background: ##{color}; border-right: 1px solid ##{darkcolor}; border-top: 10px solid ##{darkcolor};"
        
        %div.dj{:style => style}
          - style += " color: ##{textcolor};"
          = name
          %time= dj.time
        
        - # Display the DJ track
        - dj.tracks.each do |track|
          - name = track.name
          %div.track{:class => track.id == @current_id ? 'playing' : '', :style => style, :title => "#{name} -of- #{track.album} -by- #{track.artist}"}
            
            %span= name   
            %img.artwork{:src => track.artwork_path, :height => 160, :width => 160}
            
      %div.controls
        %span *DJ9
        %p Goodbye
